@import 'partials/_setup.scss';
@import 'partials/_variables.scss';
@import 'partials/_typography.scss';
@import 'partials/_buttons.scss';

body {
  background: $grey;
  padding-top: 100px;
}

.container {
  background: $white;
  width: 75%;
  margin: 0 auto;
  box-shadow: $shadow1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.titleBar {
  width: 100%;
  background: $lightBlue;
  box-shadow: $shadow1;
}

.titleBar h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.stripe {
  height: 20px;
  background: $darkBlue;
}

.starDisplay {
  width: 85%;
  min-height: 100px;
  box-shadow: $shadow1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

li {
  display: flex;
  justify-content: center;
  flex-basis: 100px;
  align-items: center;
  background: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;

}

i.fa-star {
  color: $darkBlue;
  text-shadow: $shadow1;
  animation: 1s ease-out 0s 1 spinIn;
}

@keyframes spinIn {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@import 'partials/_breakpoints.scss';
