button {
  border: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background: $red;
  color: $white;
}

.startButton:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.startButton:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.startButton {
  padding: 10px 35px;
  box-shadow: $shadow1;
  position: relative;
  overflow: hidden;
}

.removeButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: $shadow3;
  font-size: 2rem;
  align-self: flex-end;
  transition: all 0.3s;
  position: absolute;
  top: 95%;
  left: 96%;
  transition: all 0.1s;
}

.removeButton:hover {
  box-shadow: $shadow4;
  transform: scale(1.2);
}

.removeButton:active {
  transform: scale(1);
}

.removeButton:focus {
  outline: none;
}
